[tool.isort]
atomic = true
combine_star = true
default_section = "FIRSTPARTY"
ensure_newline_before_comments = true
force_grid_wrap = 0
include_trailing_comma = true
indent = 4
known_django = "django"
known_first_party = "common,core"
known_third_party = "dotenv,rest_framework"
line_length = 119
multi_line_output = 5
sections = "FUTURE,STDLIB,THIRDPARTY,DJANGO,FIRSTPARTY,LOCALFOLDER"
skip_gitignore = true
use_parentheses = true

[tool.black]
exclude = '''
(
    /(
        \.git
        | \.github
        | \.venv
        | __pycache__
    )/
    | .*/migrations/
)
'''
line-lenght = 119
target-version = ["py38"]
